/* A handy list of color names: https://www.w3schools.com/colors/colors_names.asp */

body {
    background-color:indigo;
    color:honeydew;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
}
#main-title {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  } 

footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    color: black;
  }

#table {
    margin: 20px auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }

  .table-footer {
    text-align: left;
    background-color: lightblue;
    color: black;
    padding: 20px;
    
  }

  .list {
    padding-top: 40px;
    text-align: left;
    margin: 40 auto;
    
  }
  

